<!DOCTYPE html>
<html>
    <head>
        <title>PetShop</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="row between middle">

                    <div class="row">
                        <a href="/">
                            <img src="logoPet.svg" height=60 width=60>
                        </a>
						<a href="/" class="row middle">
							<h2>PetShop</h2>
						</a>
                    </div>

                    <div class="col-3 end">
                        <ul class="row between">
                            <li class="col">
                                <a href="/cadastro" class="layout_a">Cadastro Pet</a>
                                </li>
                            <li class="col">
                                <a href="/produtos" class="layout_a">Produtos</a>
                            </li>
                            <li class="col">
                                <a href="/servicios" class="layout_a">Serviços</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>


        <section class="home">

            <div class="container">
                <div class="row center">
                    <h1 class="col-11">Bem-vindos ao petshop</h1>
					<img class="col-2 middle" src="fondoBonus.png" height=150 width=150>
                </div>
            </div>

        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        2016®- <a href="https://github.com/CruzLeyvaSegundo" target="_blank" class="layout_a">Segundo Cruz</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>