html
	head
		title= title
		link(href='"https://fonts.googleapis.com/css?family=Montserrat:400,700"', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='../css/style.css')
	body
		h2 Hello world
		img(src="fondoBonus.png", alt="primera imagen", title="Primera foto")
