<!DOCTYPE html>
<html>
    <head>
        <title>PetShop</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <meta charset="UTF-8" />
		<style type="text/css">
			.msg-erro
			{ 
				color: red; 
			}
		</style>
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="row between middle">

                    <div class="row">
                        <a href="/">
                            <img src="images/logoPet.svg"/ height=60 width=60>
                        </a>
						<a href="/" class="row middle">
							<h2>PetShop</h2>
						</a>
                    </div>

                    <div class="col-3 end">
                        <ul class="row between">
                            <li class="col">
                                <a href="/cadastro" class="layout_a">Cadastro Pet</a>
                                </li>
                            <li class="col">
                                <a href="/produtos" class="layout_a">Produtos</a>
                            </li>
                            <li class="col">
                                <a href="/servicios" class="layout_a">Serviços</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>


        <section class="home3">

            <div class="container">
                <div class="row start">
                     <form id="form" action="/productos" method="POST">
						<h3>Produtos</h3><br>
						Item: <br>
						 <select name="item">
							<option value="coleira">Coleira</option>
							<option value="dogfood">DogFood</option>
							<option value="catfood">CatFood</option>
						 </select>
						<br>
						Precio: <br>
						<input type="text" id="precio" name="precio" value="20" disabled>
						<br>
						 Nome do solicitante:<br>
						<input type="text" id="nomSolicitante" name="nomSolicitante" placeholder="Informe nome do solicitante">
						<span class='msg-erro msg-nomSolicitante'></span>
						<br>
						 Endereço do solicitante:<br>
						<input type="text" id="dirPedido" name="dirPedido" placeholder="Informe endereço do solicitante">
						<span class='msg-erro msg-dirPedido'></span>
						<br><br>
						<input type="submit" value="Comprar" class="col-12 center boton" id='botao' onclick="validaPedido()">		
					</form>
                </div>
            </div>

        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        2016®- <a href="https://github.com/CruzLeyvaSegundo" target="_blank" class="layout_a">Segundo Cruz</a>
                    </div>
                </div>
            </div>
        </footer>
		<script type="text/javascript" src="scripts/validarCampos.js"></script>
    </body>
</html>